@model ActivosFijos.Models.AsientosContable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AsientosContable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdtipoInventario" class="control-label"></label>
                <input asp-for="IdtipoInventario" class="form-control" />
                <span asp-validation-for="IdtipoInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaContable" class="control-label"></label>
                <input asp-for="CuentaContable" class="form-control" />
                <span asp-validation-for="CuentaContable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimiento" class="control-label"></label>
                <input asp-for="TipoMovimiento" class="form-control" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAsiento" class="control-label"></label>
                <input asp-for="FechaAsiento" class="form-control" />
                <span asp-validation-for="FechaAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoAsiento" class="control-label"></label>
                <input asp-for="MontoAsiento" class="form-control" />
                <span asp-validation-for="MontoAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-check" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
